<div class="main-main">
    <div class="main">
        <div>CREATE ACCOUNT</div>
        <form #authForm='ngForm' (ngSubmit)='onSubmit(authForm)'>
            <input ngModel type="email" name='email' required email placeholder="Email">
            <input ngModel type="password" name='password' required minlenght='4' placeholder="Password">
            <button class="btn">SIGN UP</button>
            <div class="errors">{{this.error_message}}</div>
            <div>or <a [routerLink]="['/home']" routerLinkActive="router-link-active" >Return to Store</a></div>
        </form>
    </div>
    </div>
