<div class="carousel">
    <div class="top_section">
        <button class="carousel_button car-left" (click)="previous()">
            <i class="fas fa-chevron-left"></i>
        </button>
        <div class="carousel_track_container">
                <ul class="carousel_track" #el>
                    <li class="carousel_slide current_slide" #first>
                        <img class="carousel_image" src="{{ mainImages[0].img }}" alt="Slides">
                    </li>
                    <li class="carousel_slide test" #second>
                        <img class="carousel_image" src="{{ mainImages[1].img }}" alt="Slides">
                    </li>
                </ul>
        </div>
        <button class="carousel_button car-right" (click)="next()">
            <i class="fas fa-chevron-right"></i>
        </button>
    </div>
    <div class="carousel_nav bottom_section" #carousel_nav>
        <button class="carousel_indicator current"></button>
        <button class="carousel_indicator"></button>
    </div>
    
</div>